//
// MDC Theme ... KJB: used by Svelte Material UI (SMUI)
//

@import "@material/theme/color-palette";

// pull in the MDC Typography CSS classes
// ex usage: <p class="mdc-typography--subtitle2">Hello</p>
@import '@material/typography/mdc-typography';
// @import '@material/typography/mixins'; // AI: figure this out

// visualize-it's custom color theme
// ... via color tool: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=26A69A&secondary.color=37474F&primary.text.color=000000
// <resources>
//   <color name="primaryColor">#26a69a</color>
//   <color name="primaryLightColor">#64d8cb</color>
//   <color name="primaryDarkColor">#00766c</color>
//   <color name="secondaryColor">#37474f</color>
//   <color name="secondaryLightColor">#62727b</color>
//   <color name="secondaryDarkColor">#102027</color>
//   <color name="primaryTextColor">#000000</color>
//   <color name="secondaryTextColor">#ffffff</color>
// </resources>

$mdc-theme-primary:       #26a69a;
$mdc-theme-primary-light: #64d8cb;
$mdc-theme-primary-dark:  #00766c;

$mdc-theme-secondary:       #37474f;
$mdc-theme-secondary-light: #62727b;
$mdc-theme-secondary-dark:  #102027;

$mdc-theme-primary-text:    #000000;
$mdc-theme-secondary-text:  #ffffff;

$mdc-theme-background: #fff;
$mdc-theme-surface:    #fff;

$mdc-theme-error: $material-color-red-900;

//
// KJB: Material Design ToolTips ... see: https://www.zeolearn.com/magazine/material-design-tooltip-with-css-html
//

[data-md-tooltip] {
 position: relative;
}

[data-md-tooltip]:before {
   content:          attr(data-md-tooltip);
   position:         absolute;
   bottom:           -35px;
   left:             50%;
   padding:          8px;
   transform:        translateX(-50%) scale(0);
   transition:       transform 0.3s ease-in-out;
   transform-origin: top;
   background:       #616161e6;
   color:            white;
   border-radius:    2px;
   font-size:        12px;
   font-family:      Roboto,sans-serif;
   font-weight:      400;
}

[data-md-tooltip]:hover:before {
 transform: translateX(-50%) scale(1);
}

// alternate color ... for display in dark background (like in AppBar)
[data-md-tooltip].md-tooltip--light:before {
 background: white;
 color:      red; /* AI: not very good ... very faint */
}

// adding positioning
[data-md-tooltip].md-tooltip--right:before {
 left: auto;
 right: -10px;
 bottom: auto;
 top: 50%;
 transform: translate(100%, -50%) scale(0);
 transform-origin: left center;
}

[data-md-tooltip].md-tooltip--right:hover:before {
 transform: translate(100%, -50%) scale(1);
}

[data-md-tooltip].md-tooltip--left:before {
 left: -15px;
 right: auto;
 bottom: auto;
 top: 50%;
 transform: translate(-100%, -50%) scale(0);
 transform-origin: right center;
}

[data-md-tooltip].md-tooltip--left:hover:before {
 transform: translate(-100%, -50%) scale(1);
}

.md-tooltip--top:before {
 top: -35px;
 bottom: auto;
 transform: translateX(-50%) scale(0);
 transform-origin: bottom center;
}
